@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile needs a quicker carousel*/
#carousel {
    animation: bannermove 7.5s linear infinite;
}

@media only screen and (min-width: 768px) {
    #carousel {
        animation: bannermove 30s linear infinite;
    }
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}